
.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--background-color);
}

.cards .card {
  background-color: var(--background-color);
  border: 1px solid var(--dark-color);
  border-radius: 8px;
  overflow: hidden;
  max-width: 48%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards .card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.cards .card-content {
  padding: 20px;
  text-align: center;
}

.cards .card-description {
  font-size: var(--body-font-size-xs);
  color: darkred;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cards .card-title {
  font-size: var(--heading-font-size-s);
  color: grey;
  margin-bottom: 20px;
}

.cards .card-link-container {
  margin-top: 20px;
}

.cards .card-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: var(--body-font-size-xs);
  color: grey;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.cards .card-link:hover {
  background-color: grey;
  color: var(--background-color);
}
